.code {
  margin-top: 20px;
}

.code > div > div pre {
  padding: 5px;
}

.code > div.code-header > span {
  text-transform: capitalize;
  background-color: color(255, 188, 2, 0.43);
  padding: 2px;
}